{% extends 'base.jinja' %}

{% block content %}
<h1>Cities</h1>

<button class="new-cities">
  <a class="button" href="/cities/new">New City</a>
</button>

<ul>
  {% for city in cities %}
  <li>
  <a class = "city-name" href = "/cities/{{ city.id }}">{{ city.name }} , {{city.country}}</a>
    <p>
      <form action="/cities/{{ city.id }}/delete" method="POST">
        <input class="button" type="submit" value="Delete" />
      </form>
    </p>
  </li>
  {% endfor %}
</ul> 


{% endblock %}

{# THE BELOW IS ME TRYING TO ADD A LINK FOR MORE INFO WHEN TURN THE CITY PAGE DESCRIPTION #}

{# <ul>
  {% for city in cities %}
  <li>
  <p class = "city-name">{{ city.name }} , {{ city.country}}</p>
      <form action="/cities/{{ city.id }}/delete" method="POST">
        <input class ="button" type ="submit" value="Delete" />
      </form>
      <form action="/cities/show/{{ city.id}}">
        <input class = "button" type="submit" value="More Info" />
      </form>
  </p>
  </li>
  {% endfor %}
</ul>

{% endblock %} #}