{% extends 'base.jinja' %}

{% block content %}
<h1>Cities</h1>

<p class="button">
  <a class="button" href="/cities/new">New City</a>
</p>

<ul>
  {% for city in cities %}
  <li>
  <p>{{ city.name }} , {{city.country}}</p>
    <p>
      <form action="/cities/{{ city.id }}/delete" method="POST">
        <input class="button" type="submit" value="Delete" />
      </form>
    </p>
  </li>
  {% endfor %}
</ul>


{% endblock %}