{% extends 'base.jinja' %}

{% block content %}
<h1>Add City</h1>

<form action="/cities" method="post">
  <label for="city">City:</label>
    <input type="text" id="city" name="city">
  
  <label for="country">Country:</label>
    <input type="text" id="country" name="country">
    

  <input class="button" type='submit' value="Add">
  

</form>

{% endblock %}

{# {% extends 'base.jinja' %}

{% block content %}
<h1>Add Visit</h1>

<form action="/visits" method="post">
  <label for="user">Select a user:</label>
    <select name="user_id" id="user">
      {% for user in users %}
      <option value="{{ user.id }}">{{ user.name }}</option>
      {% endfor %}
    </select>
  
  <label for="city">Select a city:</label>
    <select name="city_id" id="city">
      {% for city in cities %}
      <option value="{{ city.id }}">{{ city.name }}</option>
      {% endfor %}
    </select>

  <input class="button" type='submit' value="Add">
  

</form>

{% endblock %} #}