{% extends 'base.jinja' %}

{% block content %}
<h1>Add City</h1>

<form action="/cities" method="post">
  <label for="city">Select a city:</label>
    <select name="city_id" id="city">
      {% for city in cities %}
      <option value="{{ city.id }}">{{ city.name }} </option>
      {% endfor %}
    </select>


  <input class="button" type='submit' value="Add">
  

</form>

{% endblock %}