{% extends 'base.jinja' %}

{% block content %}


<p class = "city-title" >{{city.name}}, {{city.country}}</p>

<p class = "city-description" > {{city.description}} </p>
<img src = {{city.image_url}} </img>



{% endblock %}