{% extends 'base.jinja' %}

{% block content %}
<h1>Add Visit</h1>

<form action="/visits" method="post">
  <label for="user">Select a user:</label>
    <select name="user_id" id="user" >
      {% for user in users %}
      <option {% if user.id == user_id %} selected="selected"{% endif %} value="{{ user.id }}">{{ user.name }}</option>
      {% endfor %}
    </select>
  
  <label for="city">Select a city:</label>
    <select name="city_id" id="city">
      {% for city in cities %}
      <option value="{{ city.id }}">{{ city.name }}</option>
      {% endfor %}
    </select>


  <div>
        <label for="visited">Visited? :</label>
        <input  type="checkbox"
                id="visited"
                name="visited"
        />
        <input class="button" type='submit' value="Add">
    </div>
  

</form>

{% endblock %}

{# GET ALL BUTTONS WORKING WITH EACHOTHER 
ADD ALL BUTTONS TO MY WANDERLIST PAGE SO CAN EDIT FROM WITHIN THERE
CSS  #}