.new-visits {
  background-color: rgb(249, 252, 250);

}

.new-users {
  background-color: rgb(249, 252, 250);
}

.new-cities {
  background-color: rgb(249, 252, 250);
}

.button {
  background-color: rgb(249, 252, 250);
  text-decoration: none;
  border: none;
  border-radius: 100px;
}

