* { 
  color:rgb(19, 42, 25);
  font-family: 'Playfair Display', serif;
}


body {
  background-color: rgb(199, 218, 198);
}

.header {
  padding: 0px;
  margin: 0px;
  background-color: rgb(218, 232, 222);

}


ul.nav-items {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  
}

nav ul {
  list-style-type: none;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 0px;
}

.nav-items a {
  text-decoration: none;
  list-style-type: none;
}

.navbar li {
  list-style-type: none;
  text-decoration: none;
}

.logo {
  display: flex;
  border-radius: 130px;
  width: 60px;
}

.logo:hover {
  animation: rotating 2s linear infinite;
}

.city-name {
  font-weight: bold;
  text-decoration: none;
}


.form {
  background-color: rgb(236, 209, 231);
}

.user_id {
  background-color: rgb(218, 232, 221);
}

.city_id {
  background-color: rgb(218, 232, 221);
}

.visit_id {
  background-color: rgb(218, 232, 221);
}

.city-title {
  font-size: 52px;

}

.user-title {
  font-weight: bold;
  text-decoration: none;
}

.homepage-title {
  display: flex;
  justify-content: center;
  font-size: 100px;
}

.logo-home-container {
  display: flex;
  justify-content: center;
}

.logo-home {
  border-radius: 125px;
}

.list {
  color: rgb(101, 134, 103);
}

@keyframes rotating {
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}