*  {
  background-color: rgb(243, 203, 236);
  color:rgb(120, 10, 10);
  font-family: 'Playfair Display', serif;
}

.header {
  padding: 0px;
  margin: 0px;

}


.nav-items {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  
}

.navbar li {
  list-style-type: none;
}

.logo {
  display: flex;
  border-radius: 130px;
  width: 90px;
}


