<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wanderlist</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>

  <header class="header">
  <nav>
  <img class = "logo" src = "/static/images/logo.png">
  <ul class = "nav-items">
    <li>
      <a href="/cities">Cities</a>
    </li>
    <li>
      <a href="/users">Users</a>
    </li>
    <li>
      <a href="/visits">Visits</a>
    </li>
  </ul>
  </nav>
  </header>
  
  {% block content %}
    
  {% endblock  %}
  
  
  </body>
</html>






