<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wanderlist</title>
    <link href="static/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>

  <main class="navbar">
  <nav>
    <ul>
      <li>
        <a href="/cities">Cities</a>
      </li>
      <li>
        <a href="/users">Users</a>
      </li>
      <li>
        <a href="/visits">Visits</a>
      </li>
      <li>
        <a href="/users/1">My Wanderlist</a>
      </li>
    </ul>
  </nav>
  </main>
  
  {% block content %}
    
  {% endblock  %}
  
  
  </body>
</html>






