{% extends 'base.jinja' %}

{% block content %}
<h1>Users</h1>

<p class="button">
  <a class="button" href="/users/<id>/new">New user</a>
</p>

<ul>
  {% for user in users %}
  <li>
  <a href = "/users/{{ user.id }}"> {{user.name}}</a>
    <p>
      <form action="/users/{{ user.id }}/delete" method="POST">
        <input class="button" type="submit" value="delete" />
        
      </form>
    </p>
  </li>
  {% endfor %}
</ul>


{% endblock %}