{% extends 'base.jinja' %}

{% block content %}
<h1>Users</h1>

<button class="new-users">
  <a class="button" href="/users/new">New User</a>
</button>

<ul>
  {% for user in users %}
  <li>
  <a class = "user-title" href = "/users/{{ user.id }}"> {{user.name}}</a>
    <p>
      <form action="/users/{{ user.id }}/delete" method="POST">
        <input class="button" type="submit" value="Delete" />
        
      </form>
    </p>
  </li>
  {% endfor %}
</ul>


{% endblock %}