{% extends 'base.jinja' %}

{% block content %}

<h1>Add User</h1>

<form action="/users" method="post">
  <label for="name">Name a user:</label>
    <input type="text" id="name" name="name">

  <input class="button" type='submit' value="Add">
  

</form>

{% endblock %}



