{% extends 'base.jinja' %}

{% block content %}

<h1>Add User</h1>

<form action="/users" method="post">
  <label for="user">Name a user:</label>
    

  <form action="/users" method="post">
  <label for="user">Name a user:</label>
    <p><input type="button" /></p>

    </select>

  

  <input class="button" type='submit' value="Add">
  

</form>